#logout{
    float:right;
    margin-top: 1%;
    cursor: pointer;
}
#product{
    float:right;
    margin-top: 1%;
    cursor: pointer;
}
.table
{
    margin-top: 5%;
}
#createProduct{
    float:right;
    margin-top: 1%;
}
#errors{color:red}
#prod_img{height: 100px;
    width:100px;}